<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publica tu proyecto</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fonts/fontawesome/css/all.css">
</head>
<body>
<main class="container">
    <header>
        <div class="logo">
            <div class="rombo">
                <div class="w-circle">
                    <div class="b-circle"></div>
                </div>
            </div>
            <div class="text">
                <div class="title">rombus</div>
                <div class="sub-title">GLOBAL</div>
            </div>
            <div class="image"></div>
        </div>
        <div class="menu mb">
            <span class="fas fa-bars"></span>
        </div>
        <div class="menu">
            <ul>
                <li>
                    SOLUCIONES
                </li>
                <li>
                    STAFF
                </li>
                <li>
                    BLOG
                </li>
                <li>
                    <button>PUBLICAR PROYECTO</button>
                </li>
                <li>
                    <div class="avatar">
                        <div class="image">
                            <img src="../images/avatar.png" alt="">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="body">
        <aside class="aside">
            <div class="step-number">
                <div class="bullet">
                    2/4
                </div>&nbsp;
                <div class="label">ESPECIALIDAD</div>
            </div>
        </aside>
        <section class="content">
            <div class="step-title">
                <div class="title">
                    Selecciona el área profesional adecuada
                </div>
                <div class="sub-title">Elige el servicio que enfoca tu necesidad principal:</div>
            </div>
            <div class="content-step">
                <div class="step step-02">
                    <ul class="areas">
                        <li class="item item-01" id="em">
                            <div class="icon">
                                <span class="fas fa-binoculars"></span>
                            </div>
                            <div class="title">
                                Estrategias y Marketing
                            </div>
                        </li>
                        <li class="item item-02" id="dc">
                            <div class="icon">
                                <span class="fas fa-eye"></span>
                            </div>
                            <div class="title">
                                Diseño y creatividad
                            </div>
                        </li>
                        <li class="item item-03" id="pc">
                            <div class="icon">
                                <span class="fas fa-thumbs-up"></span>
                            </div>
                            <div class="title">
                                Publicidad y Campañas
                            </div>
                        </li>
                        <li class="item item-04" id="pt">
                            <div class="icon">
                                <span class="fas fa-code"></span>
                            </div>
                            <div class="title">
                                Programación y Tecnología
                            </div>
                        </li>
                    </ul>
                    <div class="item-categories hide">
                        <div class="title">
                            Marca dentro del áriea elegida, la categoría y subcategoría que correspondan*
                        </div>
                        <div class="list-categories">
                                <ul class="categories main">
                                <li class="item-s">
                                    <div>Desarrollo de Negocio Digital</div>
                                </li>
                                <li class="item">
                                    <div>
                                        Marca e Imagen Corporativa / Branding</div>
                                </li>
                                <li class="item">
                                    <div>Estrategia de contenidos y Comunicación</div>
                                </li>
                                <li class="item">
                                    <div>Marketing de Social Media</div>
                                </li>
                                <li class="item">
                                    <div>Reputación online</div>
                                </li>
                                <li class="item">
                                    <div>Estrategia de crecimiento (Growth Hacking)</div>
                                </li>
                                <li class="item">
                                    <div>Estrategia de Experiencia de Consumidor</div>
                                </li>
                                <li class="item">
                                    <div>Generación de Propesctos (Leads)</div>
                                </li>
                                <li class="item">
                                    <div>Gestión de Campaña Digital</div>
                                </li>
                                <li class="item">
                                    <div>Optimización en Buscadores (SEM)</div>
                                </li>
                                <li class="item">
                                    <div>Estrategias de ventas online</div>
                                </li>
                                <li class="item">
                                    <div>Relaciones Públicas</div>
                                </li>
                                <li class="item">
                                    <div>Marketing de Influencers</div>
                                </li>
                                <li class="item">
                                    <div>Investigación y Análisis de Mercado</div>
                                </li>
                            </ul>
                            <ul class="categories sub">
                                <li class="item-s">
                                    <div>Marca Lídes</div>
                                </li>
                                <li class="item-s">
                                    <div>Empresa Grande</div>
                                </li>
                                <li class="item-s">
                                    <div>PyME</div>
                                </li>
                                <li class="item-s">
                                    <div>Micro Empresa / Emprendimeinto</div>
                                </li>
                                <li class="item-s">
                                    <div>Institución / ONG</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills hide">
                        <div class="title">
                            Si lo deseas, puedes agregar hasta 5 habilidades que consideres necesarias
                        </div>
                        <div class="form-content">
                            <form action="">
                                <div class="form-elements">
                                    <input type="text" placeholder="AUTOCOMPLETE">
                                    <button>
                                        <span>AGREGAR</span>
                                        <span class="plus">+</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="items-skills">
                            <span class="element">
                                <span class="text">
                                    <span>Diseño de interfaz de Usuario</span>
                                </span>
                            </span>
                            <span class="element">
                                <span class="text">
                                    <span>Ilustración</span>
                                </span>
                            </span>
                            <span class="element">
                                <span class="text">
                                    <span>Adobe Photoshop</span>
                                </span>
                            </span>
                            <span class="element">
                                <span class="text">
                                    <span>Adobe After Effects</span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <!--Diseño y creatividad-->
                </div>
            </div>
            <div class="btn-container">
                <a  class="hide" href="../index.html">
                    <span class="fas fa-chevron-left"></span>&nbsp;Volver
                </a>
                <a class="hide" href="paso-3.html">Continuar</a>
            </div>
        </section>
    </section>
    <footer>
    </footer>
</main>
<script src="../js/script.js"></script>
</body>
</html>