<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <head>
        <meta charset="UTF-8">
        <title>Publica tu proyecto</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/fonts/fontawesome/css/all.css">
    </head>
<body>
<main class="container">
    <header>
        <div class="logo">
            <div class="rombo">
                <div class="w-circle">
                    <div class="b-circle"></div>
                </div>
            </div>
            <div class="text">
                <div class="title">rombus</div>
                <div class="sub-title">GLOBAL</div>
            </div>
            <div class="image"></div>
        </div>
        <div class="menu mb">
            <span class="fas fa-bars"></span>
        </div>
        <div class="menu">
            <ul>
                <li>
                    SOLUCIONES
                </li>
                <li>
                    STAFF
                </li>
                <li>
                    BLOG
                </li>
                <li>
                    <button>PUBLICAR PROYECTO</button>
                </li>
                <li>
                    <div class="avatar">
                        <div class="image">
                            <img src="../images/avatar.png" alt="">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="body">
        <aside class="aside">
            <div class="step-number">
                <div class="bullet">
                    4/4
                </div>&nbsp;
                <div class="label">TIPO DE PRESENTACIÓN</div>
            </div>
        </aside>
        <section class="content">
            <div class="step-title">
                <div class="title">
                    Define la modadidad de atención profesional
                </div>
                <div class="sub-title">
                    Elige con quien prefieres resolver el trabajo
                </div>
            </div>
            <div class="content-step">
                <div class="step step-04">
                    <ul class="areas a01">
                        <li class="item item-01" data-id="s01">
                            <div class="icon">
                                <span class="fas fa-user"></span>
                            </div>
                            <div class="title">
                                Un profesional <br>individual
                            </div>
                        </li>
                        <li class="item item-02" data-id="s01">
                            <div class="icon">
                                <span class="fas fa-users"></span>
                            </div>
                            <div class="title">
                                Project manager <br>y equipo
                            </div>
                        </li>
                        <li class="item item-03" data-id="s01">
                            <div class="icon">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <div class="title">
                                Rombus Ciudad / <br>cercana a mi ubicacion
                            </div>
                        </li>
                        <li class="item item-04" data-id="s01">
                            <div class="icon">
                                <span class="fas fa-building"></span>
                            </div>
                            <div class="title">
                                Rombus Central / <br>atención corporativa
                            </div>
                        </li>
                    </ul>
                    <div id="s01">
                        <div class="title">
                            <div>Selecciona el nivel de experiencia</div>
                            <small>
                                <div>Inicial: talentos que transitan sus primeros años.</div>
                                <div>Medio: ya cuentan con experiencia comprobable.</div>
                                <div>Experto: poseen total dominio en la materia.</div>
                            </small>
                        </div>
                        <ul class="areas sub-01 hide">
                            <li class="item item-01" data-id="s02">
                                <div class="title">
                                    Inicial <br>
                                    $
                                </div>
                            </li>
                            <li class="item item-02" data-id="s02">
                                <div class="title">
                                    Medio <br>
                                    $$
                                </div>
                            </li>
                            <li class="item item-03" data-id="s02">
                                <div class="title">
                                    Experto <br>
                                    $$$
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="s02">
                        <div class="title">
                            Tipo de proyecto:
                        </div>
                        <ul class="areas sub-02">
                            <li class="item item-01" data-id="s03">
                                <div class="icon">
                                    <span class="fas fa-file-alt"></span>
                                </div>
                                <div class="title">
                                    Proyecto único, <br>
                                    empieza y termina una sola vez
                                </div>
                            </li>
                            <li class="item item-02" data-id="s03">
                                <div class="icon">
                                    <span class="fas fa-calendar-check"></span>
                                </div>
                                <div class="title">
                                    Proyecto recurrente,<br>se repite según plazo estimado
                                </div>
                            </li>
                            <li class="item item-03" data-id="s03">
                                <div class="icon">
                                    <span class="fas fa-question"></span>
                                </div>
                                <div class="title">
                                    No lo sé aún,<br>lo defeniré luego
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="s03">
                        <div class="fields-group">
                            <div class="info">
                                <div class="box">
                                    Si colocas un valor dentro del rango <br>
                                    de precios sugerido, aumentrás <br>
                                    la cantidad y calidad de las respuestas
                                </div><div class="circle"> ? </div>
                            </div>
                            <div class="fields">
                                <div class="form-elements">
                                    <div class="label">Rango de precios</div>
                                    <input type="text" placeholder="$ 1000/2.000">
                                </div>
                                <div class="form-elements">
                                    <div class="label">Tu presupuesto</div>
                                    <input type="text" placeholder="$ 1500">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <a  class="hide" href="paso-3.html">
                    <span class="fas fa-chevron-left"></span>&nbsp;Volver
                </a>
                <a class="hide" href="../index.html">¡Terminado! ir a Resúmen</a>
            </div>
        </section>
    </section>
    <footer>
    </footer>
</main>
<script src="../js/step04.js"></script>
</body>
</html>