<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publica tu proyecto</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fonts/fontawesome/css/all.css">
</head>
<body>
<main class="container">
    <header>
        <div class="logo">
            <div class="rombo">
                <div class="w-circle">
                    <div class="b-circle"></div>
                </div>
            </div>
            <div class="text">
                <div class="title">rombus</div>
                <div class="sub-title">GLOBAL</div>
            </div>
            <div class="image"></div>
        </div>
        <div class="menu mb">
            <span class="fas fa-bars"></span>
        </div>
        <div class="menu">
            <ul>
                <li>
                    SOLUCIONES
                </li>
                <li>
                    STAFF
                </li>
                <li>
                    BLOG
                </li>
                <li>
                    <button>PUBLICAR PROYECTO</button>
                </li>
                <li>
                    <div class="avatar">
                        <div class="image">
                            <img src="../images/avatar.png" alt="">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="body">
        <aside class="aside">
            <div class="step-number">
                <div class="bullet">
                    3/4
                </div>&nbsp;
                <div class="label">DATOS ADICIONALES</div>
            </div>
        </aside>
        <section class="content">
            <div class="step-title">
                <div class="title">
                    Agrega información valiosa
                </div>
                <div class="sub-title">Puedes adjuntar un archivo o imagen que describa tu proyecto o un ejemplo de referencia.</div>
            </div>
            <div class="content-step">
                <div class="step step-03">
                    <div class="drop-file-container">
                        <div class="dashed-square">
                            <input type="file">
                            <!--<div class="dropped-content">
                                <img src="../images/Archivo.png" alt="">
                                <div>Nombre del archivo (eliminar)</div>
                            </div>-->
                            <span>Arrastra o sube un archivo o imagen </span>
                            
                        </div>
                    </div>
                    <div class="title">
                        Tu comentario (ideas, pedidos, ejemplos, webs, paleta de colores, marcas preferidas, versiones previas, etc):
                    </div>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="btn-container">
                <a  class="" href="paso-2.html">
                    <span class="fas fa-chevron-left"></span>&nbsp;Volver
                </a>
                <a class="" href="paso-4.html">Continuar</a>
            </div>
        </section>
    </section>
    <footer>
    </footer>
</main>
<script src="../js/step03.js"></script>
</body>
</html>